<div class="card-container">
    <div class="card active" data-category="Taman Hiburan" style="background-image: url('https://images.pexels.com/photos/2128165/pexels-photo-2128165.jpeg?auto=compress&cs=tinysrgb&w=600');">
        <div class="card-content">
            <span>Taman Hiburan</span>
            <h4>Taman Hiburan Post Title</h4>
            <ul class="meta list-inline mb-0">
                <li class="list-inline-item"><a href="#">Katen Doe</a></li>
                <li class="list-inline-item">29 March 2021</li>
            </ul>
        </div>
    </div>
    <div class="card active" data-category="Pusat Perbelanjaan" style="background-image: url('https://images.pexels.com/photos/2622170/pexels-photo-2622170.jpeg?auto=compress&cs=tinysrgb&w=600');">
        <div class="card-content">
            <span>Pusat Perbelanjaan</span>
            <h4>Pusat Perbelanjaan Post Title</h4>
            <ul class="meta list-inline mb-0">
                <li class="list-inline-item"><a href="#">Katen Doe</a></li>
                <li class="list-inline-item">29 March 2021</li>
            </ul>
        </div>
    </div>
    <div class="card active" data-category="Tempat Ibadah" style="background-image: url('https://images.pexels.com/photos/28154007/pexels-photo-28154007/free-photo-of-gate-of-heaven-bali.jpeg?auto=compress&cs=tinysrgb&w=900');">
        <div class="card-content">
            <span>Tempat Ibadah</span>
            <h4>Tempat Ibadah Post Title</h4>
            <ul class="meta list-inline mb-0">
                <li class="list-inline-item"><a href="#">Katen Doe</a></li>
                <li class="list-inline-item">29 March 2021</li>
            </ul>
        </div>
    </div>
</div>
